{{! Use the main layout }}
{{!< main }}

<!DOCTYPE html>
<html>
<head>
    <title>{{appName}} - Error</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>An error occurred</h1>
    <p>{{errorMessage}}</p>
</body>
</html>
