{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class = "login-area">
        <h1>Login with Google</h1>
        <a href="/auth/google" class="reglogbutton">Sign In with Google</a>
    </section>
</section>

<script>
    function handleRegister() {
        document.getElementById("registered").style.display = "block";
    }
</script>